.button {
  cursor: pointer;
  border: none;
  display: block;
  font-style: normal;
  max-width: 100%;
  transition: var(--transition);
  width: 100%;
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius);

  //Color
  &--primary {
    background: var(--primary-color);
    color: #fff;

    &:active,
    &:hover {
      background-color: var(--primary-ligth-color);
    }
  }

  //Size
  &--medium {
    padding: 20px;
    font-size: var(--font-size-3);
  }

  &--small {
    padding: 8px;
    font-size: var(--font-size-2);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
