<main id="apresentation">
  <div id="apresentation_container">
    <h1 id="apresentation_title">
      Realce sua beleza com a
      <b>Venus Store</b>
    </h1>

    <app-button routerLink="../home">Conhecer o estoque</app-button>

  </div>
  <div id="apresentation_background">
    <img width="79px" height="47px" id="apresentation_background_flower_1" src="assets/images/flower.svg" alt="Icone de uma flor azul" />

    <img width="68px" height="40px" id="apresentation_background_flower_2" src="assets/images/flower.svg" alt="Icone de uma flor azul" />

    <img width="28px" height="17px" id="apresentation_background_flower_3" src="assets/images/flower.svg" alt="Icone de uma flor azul" />

    <img width="400px" height="400px" id="apresentation_background_logo" src="assets/images/logo.svg" alt="Logo Use venus store" />
  </div>

  <footer id="apresentation_footer">
    <small>© 2025 - Todos os direitos reservados </small>
  </footer>
</main>
