:root {
  //Colors
  --primary-ligth-color: #006BF1;
  --primary-dark-color: #AACFFD;
  --primary-color: #004CAB;

  //Fonts
  --font-family: 'Nunito', sans-serif;

  //Fonts sizes
  --font-size-normal: 16px;
  --font-size-small: 14px;
  --font-size-big: 18px;

  --font-size-title-normal: 22px;

  //Fonts weight
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  //Container
  --container-max-width: 1200px;
  --container-padding: 20px;

  //Appearance
  --transition: 0.3s ease-in-out all;
  --border-radius: 70%;
}
