<footer id="footer">
  <img
    width="47px"
    height="79px"
    loading="lazy"
    class="flower primary"
    src="assets/images/flower.svg"
    alt="Icone de uma flor azul"
  />

  <img
    width="47px"
    height="79px"
    loading="lazy"
    class="flower invert secundary"
    src="assets/images/flower.svg"
    alt="Icone de uma flor azul"
  />

  <div id="footer_container">
    <span>Feito com 💙 por um dev curioso.</span>
    <hr />
    <small>© 2025 - Todos os direitos reservados </small>
  </div>
</footer>
