#footer {
  background-color: var(--primary-dark-color);
  font-weight: var(--font-weight-bold);
  padding: 32px 24px;
  position: relative;
  text-align: center;

  .flower {
    position: absolute;
    transition: var(--transition);
  }

  .flower.primary {
    top: -28px;
    left: 0;

    @media screen and (min-width: 768px) {
      left: 15%;
      top: -40px;
      transform: scaleX(-1) rotate(0);
    }
  }

  .flower.secundary {
    bottom: -28px;
    rotate: -124.49deg;
    right: 0;

    @media screen and (min-width: 768px) {
      left: 0;
      right: -440px;
      margin: auto;
      rotate: -20deg;
      bottom: -20px;
    }
  }

  &_container {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;

    hr {
      margin: 16px 0;
      border: 0;
      border-top: 1px solid var(--primary-color);
    }
  }
}
